# ===============================
# macOS
# ===============================
.DS_Store
**/.DS_Store

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/

# ===============================
# Build / Dist
# ===============================
build/
dist/

# ===============================
# Executables
# ===============================
*.exe
*.app

# ===============================
# Jupyter / temp
# ===============================
.ipynb_checkpoints/

# ===============================
# Logs
# ===============================
*.log

